In [1]:
import os, sys
from pyspark.sql import SparkSession, functions as F, types as T

In [2]:
def spark():
    return (SparkSession.builder
            .appName("silver_clean")
            .config("spark.sql.execution.arrow.pyspark.enabled","true")
            .master("spark://spark-master:7077")
            .config("spark.jars.packages", "mysql:mysql-connector-java:8.0.33")
            .config("spark.executor.memory", "2g")
            .config("spark.executor.memoryOverhead", "512m")
            .getOrCreate()
           )

In [3]:
s = spark()

# Extract from mysql

In [7]:
s.read.format("jdbc") \
 .option("url","jdbc:mysql://root:!QAZ2wsx@mysql-container:3306") \
 .option("dbtable","(SELECT 1) AS t") \
 .option("user","user").option("password","pass") \
 .option("driver","com.mysql.cj.jdbc.Driver") \
 .load().show()

+---+
|  1|
+---+
|  1|
+---+

In [8]:
df = (s.read.format("jdbc")
      .option("url", "jdbc:mysql://root:!QAZ2wsx@mysql-container:3306/whole_corp"
                      "?useUnicode=true&characterEncoding=utf8"
                      "&serverTimezone=Asia/Taipei"
                      "&useSSL=false&allowPublicKeyRetrieval=true")
      .option("dbtable", "whole_corp")  # or "schema.table" if needed
      .option("user", "user")
      .option("password", "pass")
      .option("driver", "com.mysql.cj.jdbc.Driver")
      .load())

In [9]:
df.cou

DataFrame[統一編號: string, 公司名稱: string, 負責人: string, 登記地址: string, 公司狀態: string, 資本額: string, 登記機關: string, 設立日期: string, 營業項目及代碼表: string, 財政營業項目: string, 類別: string, 縣市名稱: string, 區域名稱: string, 縣市區域: string, 產品: string, 產品說明: string, 實收資本總額: string, 上市櫃_基本資料: string, 官網: string, 公司位置: string, 聯絡人: string, 電話: string, 手機: string, 服務時間: string, 服務類別: string, 公司名稱_黃頁: string, 介紹: string, 類別_黃頁: string, 業務類型: string, 年營收: string, 成立年份: string, 主要產品: string, 員工: string, 主要出口市場: string, 品牌: string, 資本額範圍: string]