In [1]:
import os
from pyspark.sql import SparkSession
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import MiniBatchKMeans, KMeans
from scipy.sparse import csr_matrix, vstack
import numpy as np
import joblib

from sklearn.random_projection import SparseRandomProjection
from sklearn.neighbors import NearestNeighbors

from scipy.sparse import vstack as sp_vstack

from pyspark.sql import functions as F
from pyspark.sql.types import BinaryType, IntegerType, StructType, StructField, ArrayType, DoubleType

from pyspark.ml.linalg import SparseVector, DenseVector

import pandas as pd

import boto3

In [2]:
from pyspark.sql import SparkSession

def spark_session():
    # Stop any old session so new configs take effect in notebooks
    return (
        SparkSession.builder
        .appName("MySQL_to_Delta_on_MinIO")
        .master("spark://spark-master:7077")
        .config("spark.jars.packages",
                ",".join([
                    # Delta
                    "io.delta:delta-spark_2.12:3.1.0",
                    # MySQL JDBC
                    "mysql:mysql-connector-java:8.0.33",
                    # S3A / MinIO (versions must match your Hadoop)
                    "org.apache.hadoop:hadoop-aws:3.3.2",
                    "com.amazonaws:aws-java-sdk-bundle:1.11.1026",
                ]))
        # Delta integration
        .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
        .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
        # MinIO (S3A) configs
        .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000")
        .config("spark.hadoop.fs.s3a.access.key", "minioadmin")
        .config("spark.hadoop.fs.s3a.secret.key", "minioadmin")
        .config("spark.hadoop.fs.s3a.path.style.access", "true")
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
        .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false")
        .config("spark.ui.port", "4040")                 # fix the port
        .config("spark.driver.bindAddress", "0.0.0.0")   # listen on all ifaces
        .config("spark.driver.host", "jupyter")          # OR "spark-master" – the container's DNS name
        .config("spark.ui.showConsoleProgress", "true")
        # Resources
        # .config("spark.executor.cores", "2")
        # .config("spark.executor.memory", "2g")
        # .config("spark.executor.memoryOverhead", "1536m")
        # .config("spark.network.timeout", "600s")
        .config("spark.executor.cores", "1")           # 1 task per executor (more stable for trees)
        .config("spark.executor.memory", "3g")
        .config("spark.executor.memoryOverhead", "1g")  # or omit in Standalone
        .config("spark.sql.shuffle.partitions", "50")
        # .config("spark.local.dir", "/mnt/spark-tmp/local") # For giving it much more space to run CV
        .config("spark.network.timeout", "600s")
        .getOrCreate()
    )

In [3]:
import os
from pyspark.sql import SparkSession
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import MiniBatchKMeans
from scipy.sparse import csr_matrix
import numpy as np
import joblib
from pyspark.sql import Row

from sklearn.random_projection import SparseRandomProjection
from sklearn.neighbors import NearestNeighbors

from scipy.sparse import vstack as sp_vstack

from pyspark.sql import functions as F
from pyspark.sql.types import BinaryType, IntegerType, StructType, StructField, ArrayType, DoubleType

from pyspark.ml.linalg import SparseVector, DenseVector

import pandas as pd

import json

def read_gold(spark):
    global OUT

    GOLD = os.getenv("GOLD_PATH","s3a://deltabucket/gold/wholeCorp_delta")
    OUT = os.getenv("CLUSTER_PATH","s3a://deltabucket/gold/wholeCorp_clusters")

    return spark.read.format("delta").load(GOLD)


def to_mysql(ids, labels, Xr_vector, spark):
    
    rows = [
        Row(
            統一編號=i,
            cluster=c,
            vector=json.dumps(x)
        ) for i,c,x in zip(ids, labels, Xr_vector)
    ]
        
    sdf = spark.createDataFrame(rows)
    
    mysql_url = "jdbc:mysql://mysql_db_container:3306/whole_corp"
    mysql_table = "wholecorp_clusters_vector"

    mysql_properties = {
        "user": "root",
        "password": "!QAZ2wsx",
        "driver": "com.mysql.cj.jdbc.Driver"
    }

    num_partitions = 8
    batch_size = 5000

    (sdf.write
        .format("jdbc")
        .option("url", mysql_url)
        .option("dbtable", mysql_table)
        .option("user", mysql_properties["user"])
        .option("password", mysql_properties["password"])
        .option("driver", mysql_properties["driver"])
        .option("batchsize", batch_size)
        .option("numPartitions", num_partitions)
        .mode("append")
        .save()
    )

    print(f"✅ Successfully wrote DataFrame to MySQL table '{mysql_table}'")

    # read_df = (spark.read
    #            .format("jdbc")
    #            .option("url", mysql_url)
    #            .option("dbtable", mysql_table)
    #            .option("user", mysql_properties["user"])
    #            .option("password", mysql_properties["password"])
    #            .option("driver", mysql_properties["driver"])
    #            .load())
    # read_df.show(5)


def fit_predict(data_whole, s, sample_frac=0.005, sample_cap=5000, batch_size=10000):
    """
    Run SVD + MiniBatchKMeans on a manageable sample.
    Returns: Spark DataFrame [統一編號, cluster, Xr_vector]
    """

    # --- get feature size from one row
    first_vec = data_whole.limit(1).collect()[0][2]
    num_features = int(first_vec.size)

    # --- helper: Spark Row -> CSR batch
    def to_csr(rows):
        indptr = [0]; indices = []; vals = []
        for sv in rows:
            indices.extend(sv.indices.tolist())
            vals.extend(sv.values.tolist())
            indptr.append(indptr[-1] + len(sv.indices))
        return csr_matrix((np.array(vals, dtype=np.float64),
                           np.array(indices, dtype=np.int32),
                           np.array(indptr, dtype=np.int32)),
                          shape=(len(rows), num_features))

    # 1) collect a small sample for SVD training
    sample_rows = []
    for i, row in enumerate(data_whole.sample(False, sample_frac, seed=42).toLocalIterator()):
        sample_rows.append(row['features'])
        if i >= sample_cap:   # hard cap
            break

    X_sample = to_csr(sample_rows)

    svd = TruncatedSVD(n_components=100, random_state=42).fit(X_sample)

    # # --- Stage 2: incremental clustering
    kmeans = MiniBatchKMeans(
        n_clusters=15,
        random_state=42,
        batch_size=batch_size,
        verbose=1,
        n_init='auto'
    )

    batch_features, batch_ids = [], []
    
    count = 0
    # --- Pass 1: training only
    for row in data_whole.select("統一編號", "features").toLocalIterator():
        batch_features.append(row["features"])
        batch_ids.append(row["統一編號"])
        
        if len(batch_features) >= batch_size:
            # print(f"Training batch {count}")
            Xb = to_csr(batch_features)
            Xr = svd.transform(Xb)
    
            kmeans.partial_fit(Xr)
    
            batch_features.clear(); batch_ids.clear()
            count += batch_size
    
    # train on leftovers
    if batch_features:
        Xb = to_csr(batch_features)
        Xr = svd.transform(Xb)
        kmeans.partial_fit(Xr)

    # Save kmeans model after training
    joblib.dump(kmeans, "/tmp/kmeans_model.pkl")
    print("KMeans model saved to /tmp/kmeans_model.pkl")

    # --- Pass 2: prediction with final centers
    batch_features, batch_ids = [], []  # reset before 2nd loop
    count = 0
    for row in data_whole.select("統一編號", "features").toLocalIterator():
        batch_features.append(row["features"])
        batch_ids.append(row["統一編號"])
    
        if len(batch_features) >= batch_size:
            # print(f"Predicting batch {count}")
            Xb = to_csr(batch_features)
            Xr = svd.transform(Xb)
    
            preds = kmeans.predict(Xr)
    
            ids = batch_ids
            labels = preds.tolist()
            vectors = Xr.tolist()
    
            to_mysql(ids, labels, vectors, s)
    
            batch_features.clear(); batch_ids.clear()
            count += batch_size
    
    # predict leftovers
    if batch_features:
        Xb = to_csr(batch_features)
        Xr = svd.transform(Xb)
        preds = kmeans.predict(Xr)
    
        ids = batch_ids
        labels = preds.tolist()
        vectors = Xr.tolist()
    
        to_mysql(ids, labels, vectors, s)
    
    return svd, kmeans


def save_(pdf, spark, kmeans, svd):

    pass
    # s3 = boto3.client(
    #     "s3",
    #     endpoint_url = 'http://minio:9000',
    #     aws_access_key_id="minioadmin",
    #     aws_secret_access_key="minioadmin"
    # )

    # # save locally
    # joblib.dump(svd, "/tmp/svd.pkl")
    # joblib.dump(kmeans, "/tmp/kmeans.pkl")
    
    # # upload to MinIO
    # s3.upload_file("/tmp/svd.pkl", "deltabucket", "models/sk_svd.pkl")
    # s3.upload_file("/tmp/kmeans.pkl", "deltabucket", "models/sk_kmeans.pkl")
    
# from sparksession import spark_session

s = None
s = spark_session()

df = read_gold(s)

svd, kmeans = fit_predict(df, s)

[MiniBatchKMeans] Reassigning 14 cluster centers.
KMeans model saved to /tmp/kmeans_model.pkl
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|
|88722452|      5|[0.00697714716805...|
|88722973|      4|[0.00725848354955...|
+--------+-------+--------------------+
only showing top 5 rows

✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88717107|      5|[0.00697714716805...|
|88720996|      4|[0.00725848354955...|
|88721881|      4|[0.00725848354955...|

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/opt/conda/lib/python3.11/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
                          ^^^^^^^^^^^^^^^^^^^^^^
RuntimeError: reentrant call inside <_io.BufferedReader name=52>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.11/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/conda/lib/python3.11/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving
ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/opt/conda/lib/python3.11/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
                          ^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/conda/lib/python3.11/socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/conda/lib/python3.11/site-packages/pyspark/context.py", line 381, in signal_handler
    self.cancelAllJobs()
  File "/opt/conda/lib/python3.11/site-packages/pyspark/context.py", line 2446, in cancelAllJobs
    self._jsc.sc().cancelAllJobs()
    ^^^^^^^^^^^^^^
  File "/opt/conda/lib/python3.11/site-packages/py4j/java_gateway.py", line 1322, in __call__
    return_value = get_return_value(
                   ^^^^^^^^^^^^^^^^^
  File "/opt/conda/lib/python3.11/site-packages/pyspark/errors/exceptions/captured.py", line 179, in deco
    return f(*a, **kw)
           ^^^^^^^^^^^
  File "/opt/conda/lib/python3.11/site-packages/py4j/protocol.py", line 334, in get_return_value
    raise Py4JError(
py4j.protocol.Py4JError: An error occurred while calling o52.sc

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/lib/python3.11/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/conda/lib/python3.11/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

Py4JError: An error occurred while calling o6313.showString

In [ ]:
Xr /= (np.linalg.norm(Xr, axis=1, keepdims=True) + 1e-12)

# Metrics to measure

In [ ]:
from sklearn.metrics import silhouette_score

wcss = []
for k in range(2,20):
    km = KMeans(n_clusters=k, random_state=42, n_init='auto').fit(Xr)
    km.fit(Xr)
    wcss.append(km.inertia_)
    
    score = silhouette_score(Xr, km.labels_)
    print(f"k={k}, silhouette={score:0.3f}")

#