In [1]:
import os
from pyspark.sql import SparkSession
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import MiniBatchKMeans, KMeans
from scipy.sparse import csr_matrix, vstack
import numpy as np
import joblib

from sklearn.random_projection import SparseRandomProjection
from sklearn.neighbors import NearestNeighbors

from scipy.sparse import vstack as sp_vstack

from pyspark.sql import functions as F
from pyspark.sql.types import BinaryType, IntegerType, StructType, StructField, ArrayType, DoubleType

from pyspark.ml.linalg import SparseVector, DenseVector

import pandas as pd

import boto3

In [2]:
from pyspark.sql import SparkSession

def spark_session():
    # Stop any old session so new configs take effect in notebooks
    return (
        SparkSession.builder
        .appName("MySQL_to_Delta_on_MinIO")
        .master("spark://spark-master:7077")
        .config("spark.jars.packages",
                ",".join([
                    # Delta
                    "io.delta:delta-spark_2.12:3.1.0",
                    # MySQL JDBC
                    "mysql:mysql-connector-java:8.0.33",
                    # S3A / MinIO (versions must match your Hadoop)
                    "org.apache.hadoop:hadoop-aws:3.3.2",
                    "com.amazonaws:aws-java-sdk-bundle:1.11.1026",
                ]))
        # Delta integration
        .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
        .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
        # MinIO (S3A) configs
        .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000")
        .config("spark.hadoop.fs.s3a.access.key", "minioadmin")
        .config("spark.hadoop.fs.s3a.secret.key", "minioadmin")
        .config("spark.hadoop.fs.s3a.path.style.access", "true")
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
        .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false")
        .config("spark.ui.port", "4040")                 # fix the port
        .config("spark.driver.bindAddress", "0.0.0.0")   # listen on all ifaces
        .config("spark.driver.host", "jupyter")          # OR "spark-master" – the container's DNS name
        .config("spark.ui.showConsoleProgress", "true")
        # Resources
        # .config("spark.executor.cores", "2")
        # .config("spark.executor.memory", "2g")
        # .config("spark.executor.memoryOverhead", "1536m")
        # .config("spark.network.timeout", "600s")
        .config("spark.executor.cores", "1")           # 1 task per executor (more stable for trees)
        .config("spark.executor.memory", "3g")
        .config("spark.executor.memoryOverhead", "1g")  # or omit in Standalone
        .config("spark.sql.shuffle.partitions", "50")
        # .config("spark.local.dir", "/mnt/spark-tmp/local") # For giving it much more space to run CV
        .config("spark.network.timeout", "600s")
        .getOrCreate()
    )

In [13]:
import os
from pyspark.sql import SparkSession
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import MiniBatchKMeans
from scipy.sparse import csr_matrix
import numpy as np
import joblib
from pyspark.sql import Row

from sklearn.random_projection import SparseRandomProjection
from sklearn.neighbors import NearestNeighbors

from scipy.sparse import vstack as sp_vstack

from pyspark.sql import functions as F
from pyspark.sql.types import BinaryType, IntegerType, StructType, StructField, ArrayType, DoubleType

from pyspark.ml.linalg import SparseVector, DenseVector

import pandas as pd

import json

def read_gold(spark):
    global OUT

    GOLD = os.getenv("GOLD_PATH","s3a://deltabucket/gold/wholeCorp_delta")
    OUT = os.getenv("CLUSTER_PATH","s3a://deltabucket/gold/wholeCorp_clusters")

    return spark.read.format("delta").load(GOLD)


def to_mysql(ids, labels, Xr_vector, spark):
    
    rows = [
        Row(
            統一編號=i,
            cluster=c,
            vector=json.dumps(x)
        ) for i,c,x in zip(ids, labels, Xr_vector)
    ]
        
    sdf = spark.createDataFrame(rows)
    
    mysql_url = "jdbc:mysql://mysql_db_container:3306/whole_corp"
    mysql_table = "wholecorp_clusters_vector"

    mysql_properties = {
        "user": "root",
        "password": "!QAZ2wsx",
        "driver": "com.mysql.cj.jdbc.Driver"
    }

    num_partitions = 8
    batch_size = 5000

    (sdf.write
        .format("jdbc")
        .option("url", mysql_url)
        .option("dbtable", mysql_table)
        .option("user", mysql_properties["user"])
        .option("password", mysql_properties["password"])
        .option("driver", mysql_properties["driver"])
        .option("batchsize", batch_size)
        .option("numPartitions", num_partitions)
        .mode("overwrite")
        .save()
    )

    print(f"✅ Successfully wrote DataFrame to MySQL table '{mysql_table}'")

    read_df = (spark.read
               .format("jdbc")
               .option("url", mysql_url)
               .option("dbtable", mysql_table)
               .option("user", mysql_properties["user"])
               .option("password", mysql_properties["password"])
               .option("driver", mysql_properties["driver"])
               .load())
    read_df.show(5)


def fit_predict(data_whole, s, sample_frac=0.005, sample_cap=5000, batch_size=2000):
    """
    Run SVD + MiniBatchKMeans on a manageable sample.
    Returns: Spark DataFrame [統一編號, cluster, Xr_vector]
    """

    # --- get feature size from one row
    first_vec = data_whole.limit(1).collect()[0][2]
    num_features = int(first_vec.size)

    # --- helper: Spark Row -> CSR batch
    def to_csr(rows):
        indptr = [0]; indices = []; vals = []
        for sv in rows:
            indices.extend(sv.indices.tolist())
            vals.extend(sv.values.tolist())
            indptr.append(indptr[-1] + len(sv.indices))
        return csr_matrix((np.array(vals, dtype=np.float64),
                           np.array(indices, dtype=np.int32),
                           np.array(indptr, dtype=np.int32)),
                          shape=(len(rows), num_features))

    # 1) collect a small sample for SVD training
    sample_rows = []
    for i, row in enumerate(data_whole.sample(False, sample_frac, seed=42).toLocalIterator()):
        sample_rows.append(row['features'])
        if i >= sample_cap:   # hard cap
            break

    X_sample = to_csr(sample_rows)
    print(f"Sample size for SVD: {X_sample.shape}")

    svd = TruncatedSVD(n_components=100, random_state=42).fit(X_sample)

    # # --- Stage 2: incremental clustering
    kmeans = MiniBatchKMeans(
        n_clusters=15,
        random_state=42,
        batch_size=batch_size,
        verbose=1,
        n_init='auto'
    )

    ids, labels, Xr_vector = [], [], []
    batch_features, batch_ids = [], []

    count = 0
    for row in data_whole.select("統一編號", "features").toLocalIterator():
        batch_features.append(row["features"])
        batch_ids.append(row["統一編號"])
        
        if len(batch_features) >= batch_size:
            
            print(f"number {count}")
            Xb = to_csr(batch_features)
            Xr = svd.transform(Xb)

            kmeans.partial_fit(Xr)
            preds = kmeans.predict(Xr)

            # Prepare batch
            ids = batch_ids
            labels = preds.tolist()
            vectors = Xr.tolist()   # keep as list-of-list
        
            to_mysql(ids, labels, vectors, s)
            
            batch_features.clear(); batch_ids.clear()
            
            count += batch_size
        
    # last leftover batch
    if batch_features:
        Xb = to_csr(batch_features)
        Xr = svd.transform(Xb)

        kmeans.partial_fit(Xr)
        preds = kmeans.predict(Xr)

        # Prepare batch
        ids = batch_ids
        labels = preds.tolist()
        vectors = Xr.tolist()   # keep as list-of-list
        
        to_mysql(ids, labels, vectors, s)
    
    return svd, kmeans


def save_(pdf, spark, kmeans, svd):

    to_pg(spark, pdf)
    
    # s3 = boto3.client(
    #     "s3",
    #     endpoint_url = 'http://minio:9000',
    #     aws_access_key_id="minioadmin",
    #     aws_secret_access_key="minioadmin"
    # )

    # # save locally
    # joblib.dump(svd, "/tmp/svd.pkl")
    # joblib.dump(kmeans, "/tmp/kmeans.pkl")
    
    # # upload to MinIO
    # s3.upload_file("/tmp/svd.pkl", "deltabucket", "models/sk_svd.pkl")
    # s3.upload_file("/tmp/kmeans.pkl", "deltabucket", "models/sk_kmeans.pkl")
    
# from sparksession import spark_session
# s = None
# s = spark_session()

# df = read_gold(s)
svd, kmeans = fit_predict(df, s)

Sample size for SVD: (5001, 32771)
number 1000
[MiniBatchKMeans] Reassigning 14 cluster centers.
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|41248456|      8|[0.00807435834909...|
|37838867|     10|[0.00968787583593...|
|41253915|     14|[0.00920215747611...|
|41254132|      5|[0.00968114346175...|
|41254175|     14|[0.00920215747611...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|54974943|      5|[0.00968114346175...|
|54988995|      4|[0.01178038565011...|
|54989333|      9|[0.00952477702512...|
|54996159|      5|[0.00968114346175...|
|54997798|      4|[0.01150867442705...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|55698059|      4|[0.01093670843524...|
|55698157|      4|[0.01196423595208...|
|55730516|      4|[0.01444788334254...|
|72991698|     13|[0.01016686217194...|
|55733062|      4|[0.01335076801168...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|93350874|     11|[8.46825621706572...|
|88312302|     11|[8.46825621706572...|
|25740093|     14|[0.00932318569285...|
|82133794|     10|[0.00968787583593...|
|45762587|     10|[0.00927427593461...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|28877190|      4|[0.01226610469315...|
|28899650|      4|[0.01234464349730...|
|28903388|      4|[0.01234464349730...|
|87089749|     14|[0.00884420017437...|
|28908052|      4|[0.01234464349730...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|30302137|      5|[0.00968114346175...|
|31693689|     13|[0.01016686217194...|
|31722349|      4|[0.01039772783756...|
|31731570|     14|[0.00919542510193...|
|34588134|     14|[0.00870970744286...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|47818025|      1|[0.01091308554716...|
|88767788|      4|[0.01129466662458...|
|10961934|     11|[7.31813084522280...|
|82649429|     13|[0.00936549276409...|
|82685607|     13|[0.01016686217194...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|10656884|      8|[0.00806762597492...|
|87327989|      2|[0.01016686217194...|
|39860219|      2|[0.01016686217194...|
|39768281|      2|[0.01016686217194...|
|39874121|      2|[0.01016686217194...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|37817862|      2|[0.01030598963339...|
|47804373|      2|[0.01023365022247...|
|47815499|      8|[0.00813318043493...|
|47815630|      5|[0.00968114346175...|
|37843539|      8|[0.00855334153178...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|70487589|      2|[0.01045098949147...|
|13623634|      2|[0.01078034185262...|
|10951345|      4|[0.00946721370055...|
|70487949|      5|[0.00968114346175...|
|70490803|      2|[0.01092699999608...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|78421935|      8|[0.00806762597492...|
|92189085|      2|[0.01032010485085...|
|92608329|      2|[0.01029462293804...|
|92193378|      2|[0.01016686217194...|
|45274172|     11|[4.99747828689778...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|16944455|      2|[0.01016686217194...|
|40743099|     14|[0.00932318569285...|
|19358295|      2|[0.01206451307474...|
|40795722|      2|[0.01242247130147...|
|20208197|      8|[0.00722396502864...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|20180515|     14|[0.00883746780019...|
|64805171|      2|[0.01016686217194...|
|64834274|      1|[0.01064027738645...|
|17496700|     11|[3.19163822515241...|
|64938411|     10|[0.00996527066448...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|93490431|      8|[0.00806762597492...|
|72419898|      1|[0.01080624294483...|
|17653362|      2|[0.01016686217194...|
|94123700|      2|[0.01016686217194...|
|91329067|      2|[0.01083104211339...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|91553698|      5|[0.00968114346175...|
|91676994|     10|[0.01016686217194...|
|91699624|     10|[0.01016686217194...|
|92506532|     14|[0.00919542510193...|
|92603295|      8|[0.00806762597492...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|53125232|      2|[0.01206451307474...|
|53125269|      2|[0.01242247130147...|
|53243293|      2|[0.01045098949147...|
|53250982|      2|[0.01045098949147...|
|53279643|     10|[0.01023365022247...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|64215702|      8|[0.00758191392169...|
|24023144|      8|[6.64616456630436...|
|69827575|      8|[0.00731960716551...|
|83985531|     14|[0.00887911285888...|
|85510068|      8|[2.73107398676439...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|85813485|      8|[0.00693984927091...|
|85813773|      8|[0.00722396502864...|
|85817378|      8|[0.00742555081352...|
|85823955|      8|[0.00722396502864...|
|94694709|      8|[7.64812421770884...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|94654039|      1|[0.00757433050212...|
|94656260|      8|[0.00722396502864...|
|66383529|      8|[0.00726561008732...|
|08182215|      8|[0.00722396502864...|
|94656677|      8|[0.00722396502864...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|80799409|     14|[0.00883746780019...|
|97527542|     14|[0.00883746780019...|
|80956364|     10|[0.01016686217194...|
|81028035|      8|[0.00770967241042...|
|14512919|     14|[0.00919542510193...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|87058231|      9|[0.00932318569285...|
|87059479|      8|[0.00762355898038...|
|87074648|     14|[0.00766182624865...|
|29354950|      2|[0.00925492745213...|
|87075793|      8|[0.00762355898038...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|42413572|     10|[0.01016686217194...|
|72636831|      2|[0.00974064581195...|
|42434648|      8|[8.68833918094093...|
|42414191|      2|[0.01039842666701...|
|72636945|      9|[0.00932318569285...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88902503|      1|[0.01815400529211...|
|26190602|      1|[0.01102631077179...|
|85924200|      8|[7.46182028003751...|
|85219865|     10|[0.01022732636288...|
|31483699|      5|[0.00971209791371...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|98958771|      2|[0.01022636452214...|
|47861514|     10|[0.01022806263177...|
|19402617|      8|[0.00724825449535...|
|19407922|      8|[0.00724596186320...|
|19410594|     14|[0.00806762597492...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|40892082|      9|[0.00934747515956...|
|51320836|      8|[0.00722396502864...|
|40898234|     14|[0.00857763099850...|
|88577416|      2|[0.00974064581195...|
|40903659|      5|[0.00968114346175...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|68968702|      9|[0.00955896642163...|
|69299912|      8|[0.00758191392169...|
|69426369|     14|[0.00821967509823...|
|69434207|     14|[0.00888473447890...|
|69473778|      8|[0.00758191392169...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|88592140|     10|[0.00930985226590...|
|50713411|      2|[0.00925492745213...|
|26898607|      8|[4.25022801396785...|
|88594415|     14|[0.00883746780019...|
|50746573|      2|[0.01170655485425...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|08116406|      1|[0.00761744342897...|
|14489488|      2|[0.00925492745213...|
|94192282|     14|[0.00843116502555...|
|45842148|      2|[0.00925492745213...|
|94222357|     10|[0.01080894763410...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|45315011|      8|[0.00018530176451...|
|72353973|      2|[0.01035412528824...|
|72354699|     10|[0.01029462293804...|
|72388190|      2|[0.00925492745213...|
|45396956|      2|[0.00986840651966...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|77574638|     14|[0.00883746780019...|
|77895863|     10|[0.00997200303866...|
|78015535|     14|[0.00770967241042...|
|78254731|     14|[0.00894548770447...|
|78367664|      9|[0.00952477702512...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|37665957|      8|[0.00722396502864...|
|37702313|     14|[0.00855334153178...|
|37729517|      2|[0.00949070811417...|
|85244153|     14|[0.00806762597492...|
|85245462|      8|[0.00758191392169...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|31955487|     10|[0.01016686217194...|
|99092430|     10|[0.01045098949147...|
|31965295|     10|[0.01025449231590...|
|99198855|      2|[0.00861284388198...|
|31982457|     10|[0.00976877360571...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|13967638|      8|[0.00758191392169...|
|14386336|      9|[0.00919542510193...|
|15929511|      8|[0.00726561008732...|
|89730281|     10|[0.01129466662458...|
|17906319|      8|[0.00726561008732...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|45704709|     14|[0.00764560915563...|
|45724698|     14|[0.00728766026258...|
|45743920|     10|[0.00974483869569...|
|46009026|      8|[0.00722396502864...|
|46261301|     14|[0.00806762597492...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|83071923|     14|[0.00813727079430...|
|91307704|      8|[0.00722396502864...|
|83435656|      9|[0.00919542510193...|
|91404023|     10|[0.01029169707080...|
|91405584|      9|[0.00919542510193...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|36913000|     14|[0.00770967241042...|
|10680322|     14|[0.00813132120886...|
|36921536|     14|[0.00764560915563...|
|36925224|     14|[0.00883746780019...|
|10728374|     14|[0.00806762597492...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|53110174|     10|[0.01080894763410...|
|85488903|     10|[0.01022244841754...|
|53119920|     14|[0.00758191392169...|
|85493096|     10|[0.01023055740588...|
|53146356|     10|[0.01016686217194...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|17265095|     10|[0.01016686217194...|
|17274685|     10|[0.01016686217194...|
|17308073|      8|[0.00722396502864...|
|17325426|     14|[0.00806762597492...|
|37929043|      8|[7.64812421770884...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|26696861|     14|[0.00806762597492...|
|26698523|     10|[0.00974483869569...|
|15698949|     10|[0.01018857643707...|
|26698811|      5|[0.00968114346175...|
|15706336|      9|[0.00934489995798...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|38036387|      2|[0.00729358936809...|
|38036831|      8|[3.94503268214039...|
|38461299|     10|[0.01025444410788...|
|38498079|     10|[0.01016686217194...|
|38498417|     10|[0.01025444410788...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|19879226|      8|[6.11246808263815...|
|26842724|      8|[1.52295368736542...|
|20027457|      8|[3.68417840447174...|
|26863537|      8|[4.99785726752365...|
|38915829|      8|[3.28989119052495...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|50993742|     10|[0.00987073644382...|
|82304826|      8|[7.12063870734032...|
|50993779|     10|[0.01155167191688...|
|82304831|      8|[7.79730116075658...|
|82304847|      8|[3.06785200516159...|
+--------+-------+--------------------+
only showing top 5 rows

number 1000
✅ Successfully wrote DataFrame to MySQL table 'wholecorp_clusters_vector'
+--------+-------+--------------------+
|統一編號|cluster|              vector|
+--------+-------+--------------------+
|82899306|      5|[0.00969637299863...|
|82899328|      5|[0.00913936424055...|

In [5]:
df

DataFrame[統一編號: string, 公司名稱: string, features: vector]

In [ ]:
Xr /= (np.linalg.norm(Xr, axis=1, keepdims=True) + 1e-12)

# Metrics to measure

In [ ]:
from sklearn.metrics import silhouette_score

wcss = []
for k in range(2,20):
    km = KMeans(n_clusters=k, random_state=42, n_init='auto').fit(Xr)
    km.fit(Xr)
    wcss.append(km.inertia_)
    
    score = silhouette_score(Xr, km.labels_)
    print(f"k={k}, silhouette={score:0.3f}")

#